<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Mes livres</h2>
       <ul class="list-group" *ngFor="let item of livre">
			{{item.nom}}
			{{item.reference}}
       </ul>
	  
    </div>
  </div>
</div>